{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-3">
        <div class="container py-3">
            <div class="row mb-4">
                <div class="">
                    <h2 class=" font-weight-light">À propos de nous :</h2>
                </div>
            </div>
            <div class="row text-center justify-content-around">
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C5603AQEe9EdVLA-2kw/profile-displayphoto-shrink_200_200/0/1632213941590?e=1671062400&v=beta&t=oJ6h1xg6bcRdZGyjNMLcmrbqqhr3nVt0D5kAxRLtNVA" alt="Enzo" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Cardoso Enzo</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://twitter.com/CdsEnzo" class="social-link"><img width="18" alt="" src="https://cdn-icons-png.flaticon.com/512/81/81725.png"></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/cds.enzo/" class="social-link"><img width="18" alt="" src="https://cdn-icons-png.flaticon.com/512/87/87390.png"></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/enzo-cardoso-2b4ab3220/" class="social-link"><img width="18" alt="" src="https://cdn-icons-png.flaticon.com/512/61/61109.png"></a></li>
                            <li class="list-inline-item"><a href="https://github.com/EnzoCardoso0" class="social-link"><img width="18" alt="" src="https://cdn-icons-png.flaticon.com/512/25/25231.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQFMpHmz-wFSdQ/profile-displayphoto-shrink_200_200/0/1632233284893?e=1671062400&v=beta&t=r8i-IApR0f0r1_-WOqe7lNEfwrI85_VCasBPllaJvM8" alt="Augustin" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Augustin Hazard</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://twitter.com/HazardAugustin" class="social-link"><img width="18" alt="" src="https://cdn-icons-png.flaticon.com/512/81/81725.png"></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/augustinhazard/" class="social-link"><img width="18" alt="" src="https://cdn-icons-png.flaticon.com/512/87/87390.png"></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/augustin-hazard-0334a41ab/" class="social-link"><img width="18" alt="" src="https://cdn-icons-png.flaticon.com/512/61/61109.png"></a></li>
                            <li class="list-inline-item"><a href="https://github.com/AugustinHazard1" class="social-link"><img width="18" alt="" src="https://cdn-icons-png.flaticon.com/512/25/25231.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}