{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mb-3">
        <div class="mb-3">
            <h2>Politique de confidentialité :</h2>
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at congue risus.<br> Maecenas sed suscipit lorem. Sed vel vehicula massa. Duis tempor sit amet orci nec placerat. In at sollicitudin urna. Aenean egestas malesuada placerat. Mauris nec leo quam. <br>Nulla condimentum pretium tellus in porta. Integer in feugiat purus, at aliquam velit. Donec porttitor cursus erat, ut cursus turpis condimentum ac.<br> Aliquam iaculis, dolor sodales ornare ullamcorper, ligula magna varius augue, at interdum elit ex at purus. Aenean tincidunt libero id congue eleifend. Donec varius mollis pharetra.<br> Duis eget rutrum erat. Nam tincidunt augue ac velit gravida sollicitudin.<br>

            Sed euismod elementum lacinia. Pellentesque mattis fringilla pellentesque. <br>Nunc ligula augue, vehicula ac odio ac, mollis aliquam nulla. <br> Donec nec gravida metus. Cras sollicitudin auctor sollicitudin. Suspendisse nec purus vestibulum, gravida risus in, convallis turpis.<br> Morbi consectetur sed erat ac porta. Ut eleifend sollicitudin viverra. Cras ut interdum nisi. Nam condimentum tempus maximus. Donec vitae ipsum sit amet mauris ultricies facilisis.<br> Aliquam sed leo at velit luctus consequat eu aliquet odio.<br>

            Curabitur tempus auctor tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Integer mollis id mauris vel porta. Morbi ac euismod velit.<br>Cras auctor, ex sit amet imperdiet varius, metus tellus pretium turpis, non mollis erat dui vitae eros. <br>Morbi id elit dapibus magna maximus aliquam. Sed consequat cursus arcu, ut dapibus dui feugiat venenatis.<br>
        </div>
    </div>
{% endblock %}